.menu-container {
	@apply w-full sm:w-56 inline-block text-left relative;
}

.menu-button {
	@apply inline-flex justify-center w-full px-4 py-2 text-white bg-secondary rounded-md;
}
.selected {
	@apply bg-accent hover:bg-main;
}

.icon {
	@apply mr-2;
}

.menu-items-container {
	@apply absolute z-50 w-full mt-2 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
	.menu-item {
		@apply px-1 py-1;
		.button {
			@apply group flex rounded-md items-center w-full px-2 py-2 text-sm;
		}
		.active {
			@apply bg-secondary text-white;
		}
	}
}

.view-toggler {
	@apply flex h-10 bg-primary text-white rounded-md p-px;
	.item {
		@apply rounded-md flex-1 flex items-center justify-center cursor-pointer m-px px-3;
	}
	.inactive {
		@apply hover:bg-secondary;
	}
	.active {
		@apply bg-main;
	}
}
