.charts-wrapper {
	height: 500px;
	@apply overflow-auto flex flex-col gap-3;
	.card {
		@apply flex-1;
		.title {
			@apply w-full text-center border-2 border-b bg-secondary text-white py-1 rounded-md rounded-b-none shadow;
		}
		.body {
			@apply relative border border-t-0 rounded-md rounded-t-none shadow-md p-4;
		}
	}
}
.bar-chart {
	@apply relative border rounded-md shadow-md p-4;
}
