@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.App {
	@apply h-screen bg-background flex flex-col;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: left;
}

.toast * {
	border-radius: 10px;
}

.toast-error * {
	background: red;
}

.toast-success * {
	background: green;
}

.no-data {
	@apply absolute w-full text-center text-black;
	top: 50%;
}
