@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
	--primary: #a1c3d1;
	--secondary: #b39bc8;
	--accent: #f172a1;
	--background: #f0ebf4;
	--dark: #0d0106;
	--info: #619335;
	--success: #73a646;
	--main: #e64398;
	--border: #ded4d9;
	--text-normal: #000000;
	--text-inverted: #ffffff;
}

.dark-theme {
	--primary: #48787c;
	--secondary: #37643d;
	--accent: #12b076;
	--background: #0f140b;
	--dark: #f2fef9;
	--info: #8c59b9;
	--success: #9e6cca;
	--main: #154f2e;
	--border: #3c4140;
	--text-normal: #ffffff;
	--text-inverted: #000000;
}
