.fruits-table-wrapper {
	height: 500px;
	@apply relative inline-block min-w-full shadow-md rounded-lg overflow-hidden border;

	.fruits-table {
		@apply w-full;

		th {
			@apply px-5 py-3 border-b-2 border-primary bg-secondary text-left text-xs font-semibold uppercase tracking-wider text-white;
		}

		td {
			@apply px-5 py-5 border-b bg-background text-sm text-black;
		}
	}
}

table {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}
table thead {
	/* head takes the height it requires,
    and it's not scaled when table is resized */
	flex: 0 0 auto;
	width: calc(100%);
}
table tbody {
	/* body takes all the remaining available space */
	flex: 1 1 auto;
	display: block;
	overflow-y: scroll;
}
table tbody tr {
	width: 100%;
}
table thead,
table tbody tr {
	display: table;
	table-layout: fixed;
}
