
.icon-search:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-params:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
